{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>History</title>

    <link rel="stylesheet" href="{% static 'header.css' %}">
    <link rel="stylesheet" href="{% static 'history.css' %}">
    <link rel="stylesheet" href="{% static 'responsive.css' %}">
</head>
<body>

    {% include 'header.html' %}

    <div class="history-container">

        <h1 class="history-title">
            Scan History
        </h1>

        {% if history %}

        <div class="history-grid">

            {% for item in history %}

            <div class="history-card">

                <div class="food-name">
                    {{ item.food_name }}
                </div>

                <div class="history-info">
                    <span>Calories:</span>
                    {{ item.calories }} kcal
                </div>

                <div class="history-info">
                    <span>Protein:</span>
                    {{ item.protein }} g
                </div>

                <div class="history-info">
                    <span>Fat:</span>
                    {{ item.fat }} g
                </div>

                <div class="history-info">
                    <span>Carbs:</span>
                    {{ item.carbs }} g
                </div>

                <div class="confidence">
                    {{ item.confidence|floatformat:2 }} Confidence
                </div>

                <div class="history-date">
                    {{ item.created_at }}
                </div>

            </div>

            {% endfor %}

        </div>

        {% else %}

        <div class="empty-history">
            <h2>No History Yet</h2>
            <p>Your analyzed foods will appear here.</p>
        </div>

        {% endif %}

    </div>

    <script src="{% static 'script.js' %}"></script>

</body>
</html>