{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sign Up | Food Analyzer</title>

    <link rel="stylesheet" href="{% static 'header.css' %}">
    <link rel="stylesheet" href="{% static 'analyze.css' %}">
    <link rel="stylesheet" href="{% static 'responsive.css' %}">
    <link rel="stylesheet" href="{% static 'auth.css' %}">
</head>

<body>

{% include 'header.html' %}

<main>
    <div class="card">

        <h2>Create Account</h2>
        <p>Sign up to start analyzing your food</p>

        {% if form.errors %}
        <div class='error-message'>
            {{ form.errors }}
        </div>
        {% endif %}

        <form method="POST">
            {% csrf_token %}

            <input type="text" name="username" placeholder="Username" required>

            <input type="email" name="email" placeholder="Email" required>

            <input type="password" name="password1" placeholder="Password" required>

            <input type="password" name="password2" placeholder="Confirm Password" required>

            <button type="submit">Sign Up</button>
        </form>

        <p style="margin-top:10px;">
            Already have an account?
            <a href="{% url 'login' %}">Login</a>
        </p>

    </div>
</main>

<footer>
    <p>© 2025 Food Analyzer Project</p>
</footer>

</body>
</html>